{
	"semi": true,
	"useTabs": true,
	"printWidth": 100,
	"trailingComma": "none",
	"singleQuote": false,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"plugins": [
					"prettier-plugin-svelte"
				]
			}
		}
	]
}